################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Samara.Core/bin/Debug/net10.0
/Samara.Core/obj
/Samara.DataAccess/bin/Debug/net10.0
/Samara.DataAccess/obj
/Samara.Service/bin/Debug/net10.0
/Samara.Service/obj
/Samara.Presentation/bin/Debug/net10.0
/Samara.Presentation/obj
/Samara.WebApi/bin/Debug/net10.0
/Samara.WebApi/obj
/Samara.slnLaunch.user
/Samara.UI/bin/Debug/net10.0
/Samara.UI/obj
/Samara.Utilize/bin/Debug/net10.0
/Samara.Utilize/obj
